@import url('https://code.cdn.mozilla.net/fonts/fira.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('freefont/Free Serif.css');
html,body,p {
  font-family:Free Serif;
  background-color:#330000;
  color: #FFFFFF;
  font-size:1.1em;
}
.greeting {
    display:none;
}
.democrat {
    display:none;
}
.republican {
    display:block;
}
a:visited {
    color:#aa00cc;
}