@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body{
    font-family:"Noto Sans", Noto Sans, sans-serif;
    background-color:#FFF;
    color:#000;
}

#userButton{
    position:relative;
    left:0px;
    margin:0px;
    outline-style:none;
    outline:0;
    font-weight:bold;
    border:none;
    border-bottom:4px solid;
    border-top:0px solid;
    border-color:#FFF transparent #cf142b transparent;
    text-align:center;
    padding:5px;
    background-color:#00237d;
    color:#FFF;
}

#userButton:focus, #userButton:hover{
    position:relative;
    left:0px;
    top:1px;
    margin:0px;
    outline-style:none;
    outline:0;
    border-bottom:3px solid;
    border-top:0px solid;
    border-color:#FFF transparent #cf142b transparent;
    //-webkit-transition: border-bottom 0.25s;
    //transition: border-bottom 0.25s;
    //-webkit-transition: border-top 0.25s;
    //transition: border-top 0.25s;
}

#userButton:active{
    position:relative;
    left:0px;
    top:3px;
    margin:0px;
    outline-style:none;
    outline:0;
    border-bottom:1px solid;
    border-top:0px solid;
    border-color:#FFF transparent #cf142b transparent;
    //-webkit-transition: border-bottom 0.25s;
    //transition: border-bottom 0.25s;
    //-webkit-transition: border-top 0.25s;
    //transition: border-top 0.25s;
}

#userButton:focus{
    outline-style:none;
}

#uzistaKlavo{
    position:relative;
    left:0px;
    margin:0px;
    top:0px
    outline-style:none;
    outline:0;
    font-weight:bold;
    border:none;
    border-bottom:4px solid;
    border-top:0px solid;
    border-color:#FFF transparent #070 transparent;
    text-align:center;
    padding:5px;
    background-color:#090;
    color:#FFF;
}

#uzistaKlavo:hover,#uzistaKlavo:focus{
    outline-style:none;
    position:relative;
    left:0px;
    top:1px;
    margin:0px;
    outline-style:none;
    outline:0;
    border-bottom:3px solid;
    border-top:0px solid;
    border-color:#FFF transparent #080 transparent;
    //-webkit-transition: border-bottom 0.25s;
    //transition: border-bottom 0.25s;
    //-webkit-transition: border-top 0.25s;
    //transition: border-top 0.25s;
		   }

#uzistaKlavo:active{
    outline-style:none;
    position:relative;
    left:0px;
    top:3px;
    margin:0px;
    outline-style:none;
    outline:0;
    border-bottom:1px solid;
    border-top:0px solid;
    margin-top:0px;
    border-color:#FFF transparent #080 transparent;
    //-webkit-transition: border-bottom 0.25s;
    //transition: border-bottom 0.25s;
    //-webkit-transition: border-top 0.25s;
    //transition: border-top 0.25s;
}

#uzistaKlavo:focus{
    outline-style:none;
}

button::-moz-focus-inner{
    border:0;
}

::-moz-focus-inner{
    border:0;
}
:focus{
    outline:none;
}

button, #klavoj{
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor:default;
}

input{
    border-radius:2px;
    border-color:#000;
    border: 1px solid;
    border:none;
    background-color:#EEE;
    color:#000;
    padding:5px;
    outline:none;
    box-shadow:none;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

input:focus, input:hover{
    background-color:#DFDFDF;
    -webkit-transition: background-color 0.25s;
    transition: background-color 0.25s;
}

#userInput{
    text-align:center;
    width:350px;
}

.poem{
    width:360px;
}

img{
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
}
