.page-header{
    background-color:#506080;
    color:#FFF;
    border-radius:10px;
    border:solid;
    border-color:#405040;
    border-width:5px;
}

article{
    
    border:solid;
    border-color:#405040;
    border-width:5px;
    
    border-radius: 10px;
    background-color:#FFF;
}
