@import url('https://code.cdn.mozilla.net/fonts/fira.css');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
@import url('freefont/Free Serif.css');
html,body,p {
  background-color: #222222;
  color:#3366ff;
  font-family: Fira Mono;
  text-shadow: 0px 0px 10px rgba(0.2,0.6,1.0,1.0);
}
.greeting {
    display:block;
}
.democrat {
    display:none;
}
.republican {
    display:none;
}