@import url("bootstrap-3.3.7-dist/css/bootstrap.css")

@media screen and (min-width: 768px) {
    .novmargin{margin:5% auto;}
    body {
      background-color: black;
    }
}

@media screen{body{background-color:black;}}

header{
    border-bottom:solid;
    border-color:#16B;
    background-color:#538;
    color:#FFF;
}